In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import gc

In [2]:
ls -lh '/kaggle/input/playground-series-s4e9'

total 46M
-rw-r--r-- 1 nobody nogroup 2.1M Sep  1 00:02 sample_submission.csv
-rw-r--r-- 1 nobody nogroup  18M Sep  1 00:02 test.csv
-rw-r--r-- 1 nobody nogroup  27M Sep  1 00:02 train.csv

In [3]:
train_data= pd.read_csv("/kaggle/input/playground-series-s4e9/train.csv", index_col="id")
test_data = pd.read_csv("/kaggle/input/playground-series-s4e9/test.csv", index_col="id")
submission = pd.read_csv("/kaggle/input/playground-series-s4e9/sample_submission.csv")

In [4]:
from IPython.display import display_html
df1_styler = train_data.head().style.set_table_attributes("style='display:inline'").set_caption('Head Train Data').background_gradient(cmap='plasma')
df2_styler = test_data.head().style.set_table_attributes("style='display:inline'").set_caption('Head Test Data').background_gradient(cmap='plasma')
display_html(df1_styler._repr_html_()+df2_styler._repr_html_(), raw = True)

In [5]:
def summary(df):
    print(f'data shape: {df.shape}')
    summ = pd.DataFrame(df.dtypes, columns=['data type'])
    summ['#missing'] = df.isnull().sum().values
    summ['#missing'] = df.isnull().sum().values / len(df) * 100
    summ['#unique'] = df.nunique().values
    desc = pd.DataFrame(df.describe(include='all').transpose())
    summ['min'] = desc['min'].values
    summ['max'] = desc['max'].values
    summ['first value'] = df.loc[0].values
    summ['second value'] = df.loc[1].values
    summ['third value'] = df.loc[2].values
    
    return summ

In [6]:
summary(train_data).style.background_gradient(cmap='plasma')

data shape: (188533, 12)